header {
    height: 5rem;
    padding: 1rem 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: flex;
      align-items: flex-end;
      width: 100%;

      img {
        width: 6rem;
      }

      span {
        padding-left: 1rem;
        color: #0f49b1;
        font-size: 0.9rem;
        font-weight: 300;
      }
    }

    p {
        a {
          display: block;
          width: 2rem;
          height: 2rem;
          background: url('/assets/github-logo.svg') center no-repeat;
          background-size: 100%;
          opacity: 0.4;
          transform: scale(0.9);
          transition: opacity 0.3s, transform 0.3s;

          &:hover {
              opacity: 1;
              transform: scale(1);
          }
        }
    }
}

@media screen and (max-width: 40rem) {
    header {
        h1 span {
            display: none;
        }
    }
}