<div class="checkout">
  <div class="credits">
    <p class="title">Надходження</p>
    <div class="credit-row" *ngFor="let creditDate of credits | keyvalue">
      <span>{{ creditDate.key }}</span>
      <div>
        <p *ngFor="let credit of creditDate.value">
          {{ credit.national | amount }}
        </p>
      </div>
    </div>
  </div>
  <div class="summary">
    <p>
      <span>Загальна сумма <br/> надходжень</span>
      <span class="value">{{ total.credit | amount }}</span>
    </p>
    <p>
      <span>Податок 5%</span>
      <span class="value">{{ total.tax | amount }}</span>
    </p>
    <p class="profit">
      <span>Прибуток</span>
      <span class="value">{{ total.profit | amount }}</span>
    </p>
  </div>
</div>
