<form [formGroup]="creditForm">
  <div class="form-control-group">
    <div class="form-control control-date">
      <input
        type="text"
        name="date"
        placeholder="Дата"
        formControlName="date"
        ngx-mydatepicker
        [options]="dateOptions"
        #dp="ngx-mydatepicker"
        (click)="dp.toggleCalendar()">
    </div>
    <div class="form-control control-amount">
      <input
        type="text"
        name="amount"
        placeholder="Сума"
        formControlName="amount">
      <div class="currency-selector-wrapper">
        <app-currency-selector
          [(selectedCurrency)]="selectedCurrency"
          (onCurrencySelect)="selectedCurrency = $event"
        ></app-currency-selector>
      </div>
    </div>
  </div>
  <div class="credit-form-action">
    <button
      class="cancel"
      (click)="onCancelClicked()">Скасувати</button>
    <button
      class="save"
      [disabled]="!creditForm.valid"
      (click)="onSubmitClicked()">Зберегти</button>
  </div>
</form>
