.credit-content {
  position: relative;
  padding: 1.5rem;
  min-height: 10.2rem;

  .credit-date {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;

    span {
      display: inline-block;
    }
    .date {
      color: #acb7cb;
      padding-right: 0.5rem;
    }
    .quarter {
      color: #90a5e0;
      font-weight: 500;
    }
  }

  .credit-value {

    span {
      display: block;
    }

    .national-value {
      font-size: 1.75rem;
      font-weight: 400;
      color: #5e5e5e;
      line-height: 1.6;
    }

    .foreign-value {
      font-size: 0.9rem;
      color: #acb7cb;
    }
  }

  .credit-action {
    position: absolute;
    right: 1rem;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;

    &.delete {
      top: 1rem;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/assets/icons/cross.svg');
    }

    &.edit {
      bottom: 1rem;
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/assets/icons/edit.svg');
    }
  }

  &:hover {
    .credit-action {
      opacity: 1;
    }
  }
}

.form-control-group {
  padding: 1.5rem;
}

.credit-form-action {
  button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    height: 3rem;
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 50%;

    &.cancel {
      background-color: gray;
      border-bottom-left-radius: 1rem;
    }

    &.save {
      background-color: green;
      border-bottom-right-radius: 1rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}
.credit-edit {
  position: relative;
}
