<div class="credit-content" *ngIf="!editCreditMode; else editCreditForm">
  <p class="credit-date">
    <span class="date">{{ credit.date | date:'d MMMM, y':undefined:'uk' }}</span>
    <span class="quarter">{{ credit.quarter }} кв.</span>
  </p>
  <p class="credit-value">
    <span class="national-value">{{ credit.national | amount }}</span>
  </p>
  <p class="credit-value">
    <span class="foreign-value">{{ credit.foreign | amount }}</span>
  </p>
  <button class="credit-action delete" (click)="onDeleteClicked()"></button>
  <button class="credit-action edit" (click)="onEditCreditModeToggle()"></button>
</div>
<ng-template #editCreditForm>
  <app-edit-credit
    (onCancel)="onEditCreditModeToggle()"
    (onSubmit)="onEditClicked($event)"
    [credit]="credit"></app-edit-credit>
</ng-template>
