.credit-list {
  height: calc(100vh - 5rem);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 102%;
  margin-left: -2%;
  padding: 1.75rem;

  > * {
    width: 31.33%; // imperial
    margin-left: 2%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(24, 60, 122, 0.15);
    background: white;
  }

  .add-credit {
    button {
      color: #104bb6;
      background: transparent;
      border: none;
      font-size: 0.9rem;
      width: 100%;
      cursor: pointer;
    }
  }
}
