<div class="credit-list">
	<div class="flex-wrapper">
		<app-credit-list-item
			*ngFor="let credit of (creditsState | async).credits; let i = index"
			[credit]="credit"
			[index]="i">
		</app-credit-list-item>
		<div class="add-credit">
			<button
				*ngIf="!addCreditMode; else addCreditForm"
				(click)="onAddCreditModeToggle()">
					<span>+</span>
					Додати надходження
				</button>
			<ng-template #addCreditForm>
				<app-edit-credit
					(onCancel)="onAddCreditModeToggle()"
					(onSubmit)="onAddCreditSubmit($event)"></app-edit-credit>
			</ng-template>
		</div>
	</div>
</div>
